/* Importing the Poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Basic styling for sections */
.section {
  opacity: 0.7;
  transform: translateY(0px);
  transition: opacity 0.5s ease-in-out, transform 1.25s ease-in-out;
}

/* Class to make sections visible */
.section.visible {
  opacity: 1;
  transform: translateY(1);
}

/* Resetting margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Body styling */
body {
  font-family: "Poppins", sans-serif;
  background-color: black; /* Set background color to black */
  color: white; /* Set default text color to white */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Paragraph styling */
p {
  color: rgb(200, 200, 200); /* Adjust text color for better readability */
}

/* Transition for anchor tags and buttons */
a,
.btn {
  transition: all 300ms ease;
}

/* Desktop navigation styling */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

/* Anchor tag styling */
a {
  color: white; /* Adjust link color */
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* Logo styling */
.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* Hamburger menu styling */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

/* Hamburger icon bars */
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: white; /* Adjust icon color */
  transition: all 0.3s ease-in-out;
}

/* Styling for the links in the hamburger menu */
.menu-links {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: black; /* Adjust menu background color */
  width: 200px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  z-index: 10;
  box-sizing: border-box;
  border-radius: 5%;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white; /* Adjust menu link color */
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.menu-links a:hover {
  background-color: #333; /* Adjust hover background color */
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 350px; /* Increased for testing */
}

.hamburger-icon {
  cursor: pointer;
  font-size: 2rem;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* Reset transformations and opacity for closed state */
.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Section styling */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* Profile section styling */
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 80vh;
  color: white;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5%;
  overflow: hidden;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Icon styling */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* Button container styling */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Button styling */
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(200, 200, 200) 0.1rem solid; /* Adjust border color */
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(200, 200, 200); /* Adjust button hover background color */
  color: black; /* Adjust button hover text color */
}

.btn-color-1:hover {
  background: rgb(150, 150, 150); /* Adjust hover background color */
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* About section styling */
#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(30, 30, 30); /* Adjust details container background */
  border-radius: 2rem;
  border: rgb(200, 200, 200) 0.1rem solid; /* Adjust border color */
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* Experience section styling */
#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(200, 200, 200); /* Adjust subtitle color */
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* Projects section styling */
#projects {
  position: relative;
}

.color-container {
  border-color: rgb(200, 200, 200); /* Adjust border color */
  background: rgb(30, 30, 30); /* Adjust container background */
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: white;
}

.project-btn {
  color: white;
  border-color: rgb(200, 200, 200); /* Adjust border color */
}

/* Contact section styling */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-details-container {
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.icon {
  height: 2rem;
}

#contact form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.contact__form-container {
  margin: 0 auto;
}

#contact form input,
#contact form textarea {
  width: 100%;
  margin: 1rem 0;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background-color: rgb(30, 30, 30); /* Adjust form input background color */
  color: white; /* Adjust form input text color */
}

#contact form input:focus,
#contact form textarea:focus {
  outline: none;
  border-color: white; /* Adjust focus border color */
}

#contact form button {
  cursor: pointer;
  transition: all 300ms ease;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  width: 8rem;
  border-radius: 2rem;
  padding: 1rem;
  font-weight: 600;
  background: none;
  margin: 1rem auto;
  color: white; /* Adjust button text color */
}

#contact form button:hover {
  background: rgb(53, 53, 53);
  color: white;
}

/* Footer styling */
footer {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  color: rgb(92, 92, 92);
  font-size: smaller;
}
